{% extends "layout.html" %}
{% block title %}product add{% endblock %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" action="" method="post">

            {% csrf_token %}
            <fieldset>
            <legend>产品添加</legend>
            {% bootstrap_form form layout='horizontal' %}
            <legend>产品属性 {{ category.name }}</legend>
            {% bootstrap_form attribute_form layout='horizontal' %}
            <legend>变形产品</legend>

            <table>
                {{ item_formset.as_table }}
            {% for item_form in item_formset %}
            {{ item_form.as_table }}
            {% endfor %}
            </table>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">取消</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<script>
$( "#id_category" ).change(function() {
    window.location.href = "/product/add?cid="+$(this).val();
});

$("input[name^='ATTRIBUTE_']").change(function() {
    alert('hello');
});


</script>
{% endblock %}
