{% extends "base_header.html" %}
{% block content %}
{% include "cxcalendar.html" %}
<style>
    textarea{
        height: 200;
        width: 180;
    }
</style>


<fieldset style="padding: 10px;margin: 10px 0;border: 1px solid #d2d2d2;">
<div>
    <div style="font-size:20px;font-weight:bold;color:#0000CC;">图片操作</div>
    <div style="width:250px;float:left;">
        <form class="form-inline" role="form" enctype="multipart/form-data" method="post" action="{% url 'product_handle' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="get_product_img_by_ws_sku">
            <label class="control-label" for="fileInput" style="width:180px">根据ws的sku获取图片: </label>
            <br>
            <label>输入ws的sku: </label>
            <br>
            <textarea name="skus"></textarea>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</fieldset>


<script type="text/javascript">
    $('.date').cxCalendar();    
</script>
{% endblock %}