<link rel="stylesheet" href="/static/js/jquery-ui/jquery-ui-1.8.1.custom.css" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.jQuery.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.1.custom.min.js"></script>
<link rel="stylesheet" href="/static/css/ui.daterangepicker.css" type="text/css" />
